* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --desaturated-red: hsl(0, 35.5%, 70.2%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

html {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
  min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.logo,
h1,
p,
form {
  margin: 0 32px 0 32px;
  max-width: 445px;
}

div.logo {
  padding: 30px 0 27px 32px;
  background: #fff;
}

.logo img {
  width: 100px;
}

.hero-wide {
  display: none;
}

.hero-mobile {
  width: 100%;
  height: 250px;
  background-image: url(./images/hero-mobile.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  letter-spacing: 10.8254px;
  text-transform: uppercase;
  color: var(--desaturated-red);
  
  margin-top: 64px;
  display: inline-block; /* get one line */
  word-spacing: 100vw;   /* per word */
}

h1 strong {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  letter-spacing: 10.8254px;
  color: var(--dark-grayish-red);
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
  color: var(--desaturated-red);
}

form {
  position: relative;
  margin-top: 30px;
}

input {
  border: 1px solid var(--desaturated-red);
  box-sizing: border-box;
  border-radius: 28px;
  background: #FFF2F2;

  width: 92%;
  height: 48px;
  padding: 4px 24px 0 23px;
  margin-bottom: 8px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #423A3A;
}

input::placeholder {
  mix-blend-mode: normal;
  opacity: 0.5;
  color: var(--desaturated-red);
}

input:invalid {
  border: 2px solid #F96464;
  background-image: url(./images/icon-error.svg);
  background-position: center right 50px;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  width: 64px;
  height: 48px;
  margin-left: -40px;
  border: none;
  background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
}

button svg {
  margin-top: 5px;
  margin-left: 1px;
}

span.error-message {
  visibility: hidden;
  padding-left: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: var(--soft-red);
}

footer {display: none;
  width: 80vw;
  height: 20px;
  margin-top: -5px;
}

.attribution p {
  font-size: 11px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.attribution a {
  color: #888;
}

.attribution a:hover {
  color: #000;
}

@media screen and (min-width: 800px) {
  .container {
    background: url(./images/bg-pattern-desktop.svg), linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100vw;
    max-width: 1440px;
  }

  .wide-view {
    height: 100vh;
    width: calc(100vw - 42.4vw);
    padding-left: 8.2vw;
    flex-wrap: wrap;
  }

  .hero-mobile {
    display: none;
  }

  .hero-wide {
    display: block;
    width: 42.4vw;
    height: 100vh;
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  div.logo,
  h1,
  p,
  form {
    order: 0;
    max-width: 445px;
  }

  div.logo {
    padding-left: 0;
    padding-top: 64px;
    background: none;
  }

  .logo img {
    width: 158px;
  }
  
  footer {
    margin-top: -22px;
  }

  h1 {
    margin-top: 105px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.3206px;
    text-align: left;
  }

  h1 strong {
    font-weight: 600;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.3206px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #CE9898;
  }

  form {
    margin-top: 40px;
  }

  input {
    height: 56px;
    font-size: 16px;
    padding-left: 32px;
    background: #FEF5F5;
  }

  input:invalid {
    background-position: center right 70px;
  }

  button {
    height: 56px;
    width: 100px;
    margin-left: -65px;
  }
}